{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<center>
<h2> Course Outline</h2>
<table border="0" cellspacing="0" width="100%">
    <tr>
        <td></td>

        <td width="900">
          <p align="left">
            <b>Instructor:</b> Joey Legere (legerejk@mcmaster.ca)<br>
            <b>Lectures:</b> Tuesdays and Thursdays, 1:00PM-3:00PM, BSB 244
          </p>
          <u>Course Description</u><br>
        <p align="left">  The primary objective of this course is to introduce students to programming in the Python language. No prior experience with computer programming is assumed.
          The first 4 weeks will cover the basics of Python and will be accompanied by weekly assignments. Week 5 will walk through constructing a basic cognitive experiment using the PsychoPy coder.
        </p>
        <p align="left"> There will be no assignments after week 4, instead there will be a final project.
           Students are encouraged to think of their own ideas that will help with their personal research projects.
           examples include analyzing or cleaning up a complex dataset, creating an experiment, or a game.
         </p>

        <u>Lesson Structure</u><br>
        <p align="left">
          Lessons will be highly interactive. Students are expected to follow along with coding examples on their own laptops,
          or on the provided computers in the room. Each lecture will also have at least one in-class exercise (worth bonus marks to be added to the final grade).
        </p>

          <u>Topics</u><br>
           Note: this schedule is only tentative, and may be modified slightly as the course progresses.
          <p align="left">
            <b> Week 1</b>: Fundamentals. Mathematical operations (addition, subtraction, mutliplication, division, exponentiation and modulus), elementary data types. Loops and control flow.<br>
            <b>Objective</b>: Create and modify simple programs that produce meaningful output from user input (adding numbers, unit conversions).<br>
          </p>
          <p align="left">
            <b> Week 2</b>: Working with and converting between data types: integers, floats, strings, lists, dictionaries.<br>
            <b>Objective</b>: Be able to write code that maps subject/trial/block numbers to experimental conditions.<br>
          </p>
          <p align="left">
            <b> Week 3</b>: Control flow (loops, if statements, functions). Introduction to the standard library (randomization, timing).<br>
            <b>Objective</b>: Write functions to improve code legibility. Create simple text-based experiments and games.<br>
          </p>
          <p align="left">
            <b> Week 4</b>: Reading and writing from files. Data analysis and visualization.<br>
            <b>Objective</b>: Read in data from an external source, modify as needed and save. Summarize data in graphs.<br>
          </p>
          <p align="left">
            <b> Week 5</b>: Cognitive experiments in Psychopy.<br>
            <b>Objective</b>: Be able to create and modify cognitive tasks using the Psychopy coder.<br>
          </p>
          <p align="left">
            <b> Week 6</b>: No formal lesson, or catch up from previous weeks. Drop-in assistance with final projects.<br>
          </p>


        <u>Required Materials</u><br>
        <p align="left">
        There is no required textbook for this course. Bringing your own laptop to class isn't mandatory, but highly recommended.<br>
        We will be using Jupyter notebooks for the majority of the course, with the exception of week 5 where will use the Psychopy coder. Instructions for installing Jupyter are available <a href="#" data-page="content/0_jupyter_installation.html">here.</a></p>


        <u>Assessment</u><br><br>
        <center>
          <table border="1" cellspacing="0">
            <tr>
            <td>Weekly Assignments</td><td>Max 40% (4 assignments, 10% each.)</td>
            </tr>
            <tr>
            <td>In-class problems</td><td>20%</td>
            </tr>
            <tr>
            <td>Final Project</td><td>40%</td>
            </tr>

          </table>
        </center><br>
          <p align="left">All assignments will be automatically graded, but grades will be manually reviewed to ensure they are accurate. The weight from any missed in-class problems will be moved to the final project.
          The final project, which students will have the entire term to complete, is worth 40% of the final grade. This project may be proposed at any time--students are encouraged
        to start thinking about their project early in the term in order to receive feedback.</p>


          <u>Assigning of Grades</u><br><br>
          <center>
            <table border="1" cellspacing="0">
              <tr>
              <td><b>Numerical Grade</b></td><td><b>Letter Grade</b></td>
              </tr>
              <tr>
              <td>90 - 100</td><td>A+</td>
              </tr>
              <tr>
              <td>85 - 89</td><td>A</td>
              </tr>
              <td>80 - 84</td><td>A-</td>
              </tr>
              <tr>
              <td>77 - 79</td><td>B+</td>
              </tr>
              <tr>
              <td>73 - 76</td><td>B</td>
              </tr>
              <tr>
              <td>70 - 72</td><td>B-</td>
              </tr>
              <td>0 - 69</td><td>F</td>
              </tr>

            </table>
          </center><br>
          <p align="left">
          <b>Note 1:</b> The penalty for assignments submitted after the due date is 10% per day late. Application of this penalty is
          at the discretion of the instructor.<br>
          <b>Note 2:</b> The instructor and university reserve the right to modify elements of the course during the term. The
          instructor and university may change the dates and deadlines for any or all courses in extreme circumstances. If
          either type of modification becomes necessary, reasonable notice and communication with the students will be
          given with explanation and the opportunity to comment on changes. It is the responsibility of the student to check
          their McMaster email and course website weekly during the term and to note any changes.<br>
          <b>Note 3:</b> Attention is drawn to the Statement on Academic Ethics and the Senate Resolutions on Academic
          Dishonesty as found in the Senate Policy Statements distributed at registration and available in the Senate Office.
          Any student who infringes one of these resolutions will be treated according to the published policy.<br>
        </p>
        </td>

        <td></td>
     </tr>
</table>
</center>
</html>
{% endblock %}